@font-face {
    font-family: 'Arkhip';
    src: url('Arkhip.eot');
    src: local('Arkhip'),
        url('Arkhip.eot?#iefix') format('embedded-opentype'),
        url('Arkhip.woff2') format('woff2'),
        url('Arkhip.woff') format('woff'),
        url('Arkhip.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

